.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  color: #007d9f;
  
  background-color: rgb(222, 255, 255);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li{
  list-style-type: none;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 5px solid #282fff;
}

.textApp{
  font-size: 72px;
  padding-bottom: 1rem;
}


#Updatebnt {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  width: 40%;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 1rem;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#Updatebnt:hover,
#Updatebntfocus {
  background-color: #F082AC;
}

#Cancelbnt{
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
}

#Cancelbnt:disabled {
  cursor: default;
}

#Cancelbnt:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}


#deletebnt{
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 12px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
  width: 7%;
  justify-content: center;
}

#deletebnt:active,
#deletebnt:hover,
#deletebnt:focus {
  outline: 0;
}


#deletebnt:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

#deletebnt:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

#deletebnt:active:hover,
#deletebnt:focus:hover,
#deletebnt:focus {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

#itemtext{
  font-size: 30px;
  padding: 1rem 2rem;
}




.title-heading{
  font-size: 48px;
  background-color: #282c34;
  color: #fff;
}

.input-style {
  height:44px;
  padding-left:25px;
  padding-right:25px;
  border: 1px solid #dbe2e8;
  font-size:14px;
  border-radius:2px;
  color:#636363;
  box-shadow: 0 2px 2px 0 rgba(46, 60, 73, 0.05);
  outline:none;
  width:60%;
  }

  .post {
    background:rgb(248, 255, 245);
    width:60%;
    margin:0 auto;
    padding:30px;
    margin-bottom:20px;
    box-shadow: 10px 10px 12px 0 rgba(46, 60, 73, 0.05);
    
    }

    .col-post{
      display: flex;
      flex-direction: column;
    }
    
    .button-bet{
      display: flex;
      justify-content: space-evenly;
    }

    .add-container{
      margin: 2rem 1rem;
    }

    .check-box-styles{
      width: 30px;
      height: 30px;
    }